/* ipad landscape */
@media screen and (max-width: 1024px) {
    .wrapper {
        background-color: blue;
    }
}

/* ipad portrait */
@media screen and (max-width: 768px) {
    .wrapper {
        background-color: lightblue;
    }
}

/* iphone 6+ landscape */
@media screen and (max-width: 736px) {
    .wrapper {
        background-color: purple;
    }

    .span2{
    	width: 100%;
    }
}

/* iphone 6 landscape */
@media screen and (max-width: 667px) {
    .wrapper {
        background-color: lavender;
    }
}

/* iphone 6 landscape */
@media screen and (max-width: 667px) {
    .wrapper {
        background-color: lavender;
    }
}

/* Samsung Galaxy */
@media screen and (max-width: 640px) {
    .wrapper {
        background-color: cyan;
    }
}

/* iphone 5 */
@media screen and (max-width: 568px) {
    .wrapper {
        background-color: magenta;
    }
}

/* iphone 4 */
@media screen and (max-width: 480px) {
    .wrapper {
        background-color: gold;
    }
}

/* mobile portrait */
@media screen and (max-width: 320px) {
    .wrapper {
        background-color: silver;
    }
}
